<div class="table-responsive">
    <table class="table" mdbTable responsive="true">
        <thead class="grey lighten-1 black-text">
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let vehiculo of vehiculos">
                <td>{{vehiculo.tipoVehiculo}}</td>
                <td>{{vehiculo.placa}}</td>
                <td>{{vehiculo.fechaEntrada}}</td>
                <td>{{vehiculo.cilindraje}}</td>
                <td>
                    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="salidaVehiculo(vehiculo)"> Retirar </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

